## Combining Prodigy Datasets from Multiple Annotators

### Justin A. Gould

### February 2021

## Required Packages

In [ ]:
#Internal Packages
from src.combine_data import combine

## Scenario 1: Combining Datasets within a Single Database

In [ ]:
#Inputs
db_path = "./sample_data/prod3.db"
new_dataset_name = "new_data"
datasets_to_combine = ["cummins_gould29", "demo_set"]

#Run Function
combine.combine_within_database(db_path, 
                                new_dataset_name, 
                                datasets_to_combine)

### Scenario 2: Combining Datasets from Different Databases

In [ ]:
#Inputs
d = {"databases" : 
        {
            "./sample_data/prod_multiple1.db" :  {
                                "datasets_to_combine" : ["cummins_gould29"]
                                },
            "./sample_data/prod_multiple2.db" :  {
                                "datasets_to_combine" : ["cummins_gould29", "demo_set", "my_set"]
                                },
            "./sample_data/prod_multiple3.db" :  {
                                "datasets_to_combine" : ["cummins_gould29", "demo_set"]
                                }
                    },
     "new_dataset_name" : "newest_data_combo",
     "db_path_to_save"  : "./sample_data/prod_multiple2.db"
}

#Run Function
combine.combine_databases(d)